/* fichier a supprimer c'est histoir d'avoir un affichage temporaire */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--font-color-peach);
}

.form div {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.form button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}